$body-color: #585858;
$darkgray-color: #333333;
$medgray-color: #999999;
$lightgray-color: #cccccc;
$darkgray-color: #212121;
$csd-color: #199ad6;
$vineya-color: #003f62;

$health-color: #714aba;

// $live: #003e63;
// $work: #199ad6;
// $communicate: #09b3ec;
// $empower: #a27bed;

$live: #0f73aa;
$work: #0081b8;
$communicate: #1d8dc6;
$empower: #199ad6;

// $live: #3e8b87;
// $work: #957a3f;
// $communicate: #895738;
// $empower: #62272a;
.c-blue-bk {
	background-color: $csd-color;
}
.v-blue-bk {
	background-color: $vineya-color;
}
.whitesmoke-bk {
	background-color: whitesmoke;
}
.health-bk {
	background-color: $health-color;
}
.body-bk {
	background-color: $body-color;
}
.darkgray-bk {
	background-color: $darkgray-color;
}
.medgray-bk {
	background-color: $medgray-color;
}
.lightgray-bk {
	background-color: $lightgray-color;
}
$break-320: 320px;
$break-375: 375px;
$break-414: 414px;
$break-480: 480px;
$break-568: 568px;
$break-640: 640px;
$break-667: 667px;
$break-736: 736px;
$break-767: 767px;
$break-991: 991px;
$break-1024: 1024px;
$break-1200: 1200px;
$break-1300: 1300px;
$break-1400: 1400px;
$break-1500: 1500px;
$break-1440: 1440px;
$break-1600: 1600px;
$break-1775: 1775px;
